{% extends 'base.html' %}

{% block title %}
    Image Color Palette
{% endblock title %}


{% block content %}
    <nav>
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='assets/img/color_palette_logo.svg') }}" alt="logo" width="250">
        </a>
    </nav>

    <section class="form">
       {{ dropzone.create(action='/') }}
    </section>

    <section class="result" id="result">
    </section>
{% endblock content %}

{% block js %}
<!--    socketio-->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
<!--    dropzone-->
    {{ dropzone.load_js() }}
    {{ dropzone.config() }}
{% endblock js %}